@keyframes scaling1 {
  0% {
    transform: scale(0.6)
  }

  30% {
    transform: scale(0.8)
  }

  60% {
    transform: scale(0.7)
  }

  90% {
    transform: scale(1)
  }

  100% {
    transform: scale(0.6)
  }
}

@keyframes scaling2 {
  0% {
    transform: scale(0.6)
  }

  30% {
    transform: scale(0.4)
  }

  60% {
    transform: scale(0.7)
  }

  90% {
    transform: scale(0.3)
  }

  100% {
    transform: scale(0.6)
  }
}

@keyframes scaling3 {
  0% {
    transform: scale(0.6)
  }

  30% {
    transform: scale(0.8)
  }

  60% {
    transform: scale(0.7)
  }

  90% {
    transform: scale(0.8)
  }

  100% {
    transform: scale(0.6)
  }
}