.detail {
  &-box {
    box-shadow: $box-shadow;
    width: 100%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    background-color: #f8f8f8;

    > a::before {
      height: 10px;
      width: 10px;
      vertical-align: middle;
      margin-right: 10px;
      content: url('assets/webpage.svg');
    }
  }

  &-header {
    height: 10rem;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      width: 100%;
      background-size: contain;
    }
  }

  p {
    margin-bottom: 15px;
  }
  .publicate {
    > span {
        color: $blue;
    }
  }

  .price::before, .date::before, .place::before {
    height: 10px;
    width: 10px;
    vertical-align: text-top;
    margin-right: 10px;
  }

  .price::before {
      content: url("assets/price.svg");
  }
  .date::before {
      content: url("assets/date.svg");
  }
  .place::before {
      content: url("assets/place.svg");
  }
}