.button {
	width: 100%;
	margin: 10px 0;
	padding: 3px 0;
	border: none;
	cursor: pointer;
	color: white;
	text-align: center;
	display: block;

	&__primary {
		background: $blue;
		border-radius: 30px;
	}

	&__secondary {
		background: black;
		border-radius: 30px;
	}
}