.card {
    position: relative;
    width: 160px;
    min-width: 160px;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: $box-shadow;
    border-radius: 10px;
    background-color: #f8f8f8;

    &__header {
        width: 100%;
        height: 5rem;
        overflow: hidden;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    &__body {
        padding: 10px 5px;

        &-text {
            p {
                line-height: 1.5em;
            }

            .price::before, .date::before, .place::before {
                height: 10px;
                width: 10px;
                vertical-align: text-top;
                margin-right: 10px;
            }

            .price::before {
                content: url("assets/price.svg");
            }
            .date::before {
                content: url("assets/date.svg");
            }
            .place::before {
                content: url("assets/place.svg");
            }
        }
    }

    &__participate {
        margin: 0;
        width: 100%;
        background-color: $grey-dark;
        color: $white;
        border-radius: 0px 0px 10px 10px;
        padding: 7px 0;

        &.checked {
            background-color: $blue;
            border: none;
        }
    }
}