p, input, a, div, button {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: $grey_cdt;
}

.title {
    font-family: 'Red Hat Display', sans-serif;
    color: $grey_dark;

    &__h1 {
        text-align: center;
        margin: 15px 0 30px 0;
    }

    &__h2 {
        margin: 15px 0;
	}

	&__h3 {
		margin: 15px 0 20px 0;
    }
}

.s-7 {
	font-size: 7px;
}

.s-8 {
	font-size: 8px;
}

.s-9 {
	font-size: 9px;
}

.s-10 {
	font-size: 10px;
}

.s-11 {
	font-size: 11px;
}

.s-12 {
	font-size: 12px;
}

.s-13 {
	font-size: 13px;
}

.s-14 {
	font-size: 14px;
}

.s-15 {
	font-size: 15px;
}

.s-16 {
	font-size: 16px;
}

.s-17 {
	font-size: 17px;
}

.s-20 {
	font-size: 20px;
}

.placeholder-color {
	color: #797979;
}

a {
	cursor: pointer;

	&:hover {
		transition: all 0.2s ease-in-out;
	}
}