.header {
    background-color: #EFF1F1;
    width: 100%;
    padding: 15px 0;

    &-avatar {
        height: 2.5rem;
        width: 2.5rem;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 10px;

        display: inline-block;
  
      img {
        width: 100%;
        background-size: contain;
      }
    }

    .toChat {
        float: right;
        margin-right: 10px;
    }
}

.nav {
    position: absolute;
    display: block;
    height: calc(100vh - 70px);
    width: 100vw;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 10000;
    background: white;

    li {
        padding:15px;
    }

    &.active {
        transform: translateX(0);
    }
}

.messagerie {
    position: absolute;
    display: block;
    height: calc(100vh - 70px);
    width: 100vw;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 10000;
    background: white;

    &.active {
        transform: translateX(0);
    }
}