.input {
	margin-top: 20px;
	margin-bottom: 10px; 
	padding: 7px 0;

	&__login {
		display: block;
		width: 100%;
		border: none;
		border-bottom: 2px solid $blue;

		&:focus {
			outline: none;
		}
	}

	&__radio {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		margin: 0 10px 3px 0px;
		padding: 5px;
		vertical-align: middle;
		border-radius: 50%;
		transition: 0.2s all linear;
		border: 4px solid $white;
		box-shadow: 0 0 1px 1px $blue;

		&:checked {
			background-color: $blue;
			border: 4px solid $white;
		}
	}

	&::placeholder {
		color: #797979;
	}
}