.profile {
    &-box {
      box-shadow: $box-shadow;
      width: 100%;
      height: auto;
      padding: 15px;
      border-radius: 10px;
      margin: 15px 0;
      background-color: #f8f8f8;

      p {
          text-align: center;
      }
    }
  
    &-header {
        height: 7rem;
        width: 7rem;
        overflow: hidden;
        border-radius: 50%;
        margin: 30px auto 20px auto;
  
      img {
        width: 100%;
        background-size: contain;
      }
    }
  
    p {
      margin-bottom: 15px;
    }
}