* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.mainContent {
	padding: 0 20px;
}

img {
	max-width: 100%;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.tar {
	text-align: right;
}

.alert {
	padding: 10px 15px;
	border-radius: 5px;

	&__error {
		background: #f8d7da;
		color: #721c24;
		border: 1px solid #f5c6cb;
	}
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.d-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

.flex-wrap {
	flex-wrap: wrap;
}

.m-auto {
	margin: 0 auto;
}

.w-70 {
	width: 70px !important;
}

.h-70 {
	height: 70px !important;
}

.jc-space-around {
	justify-content: space-around;
}

.jc-space-between {
	justify-content: space-between;
}

.jc-center {
	justify-content: center;
}

.avatar {
	border-radius: 50%;
}

.loader {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(5);
  z-index: 9999;

  circle {
  	transform: scale(0.6);
  	transform-origin: center center;

  	&:nth-child(1) {
  		animation: scaling1 1.5s infinite;
  	}
  	&:nth-child(2) {
  		animation: scaling2 1.5s infinite;
  	}
  	&:nth-child(3) {
  		animation: scaling3 1.5s infinite;
  	}
  }
}

#paypalPaymentSection {
	width: 100%;
	max-width: 750px;
	margin: auto;
}

.categories {
	border: 1px solid #eee;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;

	&.checked {
		background: $grey_light;
	}
}

.back-arrow {
	margin: 15px 5px;

	&::before {
		content: url("assets/arrow-back.svg");
		vertical-align: middle;
		margin-right: 10px;
	}
}

.o-a {
	overflow: auto;
}

.o-h {
	overflow-x: hidden;
}

.messagerie {
	padding: 20px;
}

.message {
	p {
		margin-top: 5px;
	}
	span {
    padding: 3px 10px;
    background: #46ccd6;
    border-radius: 30px;
    color: white;
	}
}

.event_link {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 50px;
	text-indent: -9999px;
}


