.tag {
    display: inline-block;
    margin: 20px 15px 20px 0;
    border-radius: 20px;
    border: 1px solid;
    padding: 5px 10px;

    &.checked {
        color: $white;
        background-color: $blue;
    }
}