// COLOR
$blue : #46CCD6;
$white : #ffffff;
$grey_dark : #333333; // Color for the Titles too
$grey_light : #C4C4C4;

// FONT COLOR
$grey_label : #999999;
$grey_cdt : #555555;

$box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.25);